*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    padding: 20px 20px;
    background-color: white;
    position: sticky;
    top: 0;
} 

nav li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 15px;
}
nav span{
    background-color: #6d46db;
    color: white;
    border-radius: 10px;
    padding: 2px 25px;
}
.nig{
    border-radius: 20px;
    background-color:#f7f7fb;
    padding: 4px 18px;
}
.div{
  padding: 20px 90px;
  text-align: center;
}
.div img{
    padding: 20px 0px;
    
}
.p p{
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}
.section{
    background: linear-gradient(to bottom, white 50% ,black 50%);
    padding: 100px;
}
.del1{
    display: none;
}
.section1{
    background-color: black;
    padding-top: 50px;
   
}
.section1 h2{
    text-align: center;
    color: rebeccapurple;
    font-size: 45px;
    padding: 30px;
    /* padding-left: 400px; */

}
.section1 p{
    text-align: center;
    color: rgb(237, 236, 238);
    font-size: 25px;
    /* padding-left: 100px; */
    padding: 30px;

}
.section2{
    background-color: black;
    padding-top: 50px;
   
}
.section2 h2{
    text-align: center;
    color: gold;
    font-size: 45px;
    padding: 30px;
    /* padding-left: 400px; */

}
.section2 p{
    text-align: center;
    color: rgb(237, 236, 238);
    font-size: 25px;
    /* padding-left: 100px; */
    padding: 30px;

}
.section3{
    margin: 30px 20px;
    background-color: #f7f7fb;
    border-radius: 15px


}
.main1{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    
    border-radius: 15px
 ;
}
.main1 h2{
    font-size: 35px;
    padding-bottom: 40px;
    padding-top: 30px;
}
.main1 p{
    font-size: 25px;
    padding-bottom: 40px;
}
.section4{
    margin: 75px;
    background-color: #f7f7fb;
    border-radius: 15px


}
.main2{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* gap: 50px; */
    border-radius: 15px
 ;
}
.main2 h2{
    font-size: 35px;
    padding-bottom: 50px;
    padding-top: 05px;
    padding-left: 30px;
}
.main2 p{
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-left: 30px;
}
.main2 span{
    padding-left:30px ;
    padding-bottom: 40px;
}
.main2 button{
    border: none;
    border-radius: 15px;
    margin: 30px;
    padding: 10px;
    background-color: rebeccapurple;
    color: white;
  

}
.main3{
    background-color: rgb(80, 16, 145);
  
    padding: 30px;
}

.div4{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    
}
.div4a h2{
    color: white;
    font-size: 40px;
    margin-left: 35px;
}
.div4b{
    margin-right: 35px;
}
footer{
    padding: 100px;
    background-color: black;
}
footer li{
    list-style: none;
    color: white;
    margin-bottom: 10px;
}
footer li img{
    width: 150px;
    margin-bottom: 10px;
}
.main5{
    display: flex;
    justify-content: space-between;
}

.icon{
    display: none;
}
@media screen  and (max-width:768px) {
    nav{
        padding:20px 10px ;
    }
    nav li{
        display: none;
    }
    .icon{
        display: block;
    }
    .div{
        padding: 20px 20px ;

    }
    .p{
        font-size: 12px;
    }
    .del1{
        display: block;
    }
    #del1{
        display: none;
    }
    .section{
        padding: 20px;
    }
    .section3{
        display: inline-block;
    }
    .main1{
        display: inline-block;
    }
    .main2{
        display: inline-block;
        padding: 0px;
        margin: 0px;
    }
    .section4{
        padding: 20px;
        margin: 0px;
    }
    .div4 h2{
 
        font-size: 20px;
        margin: 0px;
        padding: 20px;
    }
    .div4{
        display: inline-block;
    }
    footer{
        padding: 20px;
    }
    .main5{
        display: inline-block;
    }
    .main5 h5{
        margin-top: 20px;
    }
}









